<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header d-flex">
    <a href="index.html"><img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true" alt="" srcset=""></a>
        <ul class="d-flex">
            <li> <a href="optical.html">系列鏡框</a></li>
            <li> <a href="store.html">門市據點</a></li>
            <li> <a href="special-event.html">部落格</a></li>
            <li> <a href="#">常見問題</a></li>
        </ul>
  </header>

  <%- contents %>

  <footer class="footer">
      <div class="linker d-flex">
          <ul class="menu d-flex">
              <li><a href="index.html">首頁</a></li>
              <li><a href="optical.html">系列鏡框</a></li>
              <li><a href="store.html">門市據點</a></li>
              <li><a href="special-event.html">部落格</a></li>
              <li><a href="#">常見問題</a></li>
          </ul>
          <ul class="icon1 d-flex">
              <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/7059003f6d011be52053cb5e63d68f3999af01d7/week3/icon-fb.svg" alt="" ></a></li>
              <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/7059003f6d011be52053cb5e63d68f3999af01d7/week3/icon-ig.svg" alt="" ></a></li>
              <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/7059003f6d011be52053cb5e63d68f3999af01d7/week3/icon-line.svg" alt="" ></a></li>
          </ul>
          <ul class="tel-mail d-flex">
            <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/7059003f6d011be52053cb5e63d68f3999af01d7/week3/icon-phone.svg" alt="">0800-000-000</a></li>
            <li><a href="#"><img src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/7059003f6d011be52053cb5e63d68f3999af01d7/week3/icon-mail.svg" alt="">glasses@business.com</a></li>
          </ul>
      </div>
      <div class="border"></div>
      <div class="policy d-flex">
        <a href="index.html"><img src="https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/logo.png?raw=true" alt=""></a>
        <ul class="privacy d-flex">
            <li class="copyright">Copyright © 2020 Glasses.All rights reserved.</li>
            <li><a href="#">隱私權政策</a></li>
            <li><a href="#">服務條款</a></li>
        </ul>
      </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
