.banner{
    height: 840px;
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-weight: bolder;
    text-align: right;
    @media(max-width:$lg){
        background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true");
        background-size: cover;
    }
    @media(max-width:$md){
        background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true");
        background-position: 45%;
        height: 394px;
    }
    .title{
        max-width: 1080px;
        margin: 0 auto;
    }
    span{
        margin-top: 350px;
        display:inline-block;
        font-size: $font-size-xxl;
        line-height: 54px;
        @media(max-width:$xl){
            margin-right: 39px;
        }
        @media(max-width:$lg){
            font-size: $font-size-m;
            line-height: $line-height-m;
        }
        @media(max-width:$md){
            font-size: $base-font-size;
            margin-top: 164px;
            line-height: $base-line-height;
        }
    }
    h1{
        font-size: 64px;
        line-height: 96px;
        margin-right: 10px;
        @media(max-width:$xl){
            margin-right: 39px;
        }
        @media(max-width:$lg){
            font-size: $font-size-xxxl;
            line-height: $line-height-xxl;
        }  
        @media(max-width:$md){
            font-size: $font-size-xl;
            line-height: $line-height-xl;
        }      
    }
}
.content{
    h2{
        font-size: $font-size-xxxl;
        line-height: $line-height-xxl;
        font-weight: bolder;
        margin-bottom: 60px;
        @media(max-width:$lg){
            font-size: $font-size-xl;
            line-height: $line-height-xl;
            margin-bottom: 32px;
        }
        @media(max-width:$md){
            font-size: $font-size-l;
        }
    }
}
.purpose{
    background-color: #AA06010D;
    text-align: center;
    padding: 64px 0 80px 0;
    font-weight: bolder;
    @media(max-width:$lg){
        padding: 40px 0 40px 0;
    }
    h3{
        font-size: $font-size-l;
        line-height: $line-height-l;
    }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        @media(max-width:$lg){
            flex-wrap: wrap;
        }
        li{
            max-width: 208px;
            margin-left: 39px;
            margin-right: 39px;
            @media(max-width:$lg){
                max-width: 237px;
                margin-left: 60px;
                margin-right: 60px;
            }
            @media(max-width:$md){
                max-width:100%;
                margin-bottom: 40px;
            }
            img{
                margin-bottom: 40px;
            }
            p{
               text-align: left; 
               line-height: $base-line-height;
            }
            
        }
    }
}
.classic-glasses{
    text-align: center;
    font-weight: bolder;
    padding: 64px 0 80px 0;
    @media(max-width:$lg){
        padding: 40px 0 40px 0;
    } 
    .container{
        max-width: 1200px;
        margin: 0 auto;
        ul{
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            @media(max-width:$md){
                padding: 0 15px 0 15px;
            }
            li{
                display: flex;
                justify-content: flex-start;
                align-items:center;
                margin-bottom: 32px;
                @media(max-width:$lg){
                    margin-bottom: 8px;
                }
                @media(max-width:$md){
                    justify-content: center;
                }
                .product-img{
                    display: block;
                    max-width: 635px;
                    height: auto;
                    margin: 0 30px 0 30px;
                    @media(max-width:$lg){
                        max-width: 440px;
                    }
                    @media(max-width:$md){
                        margin: 0;
                        max-width: 100%;
                        display: none;
                    }
                }
                .classic-icon{
                    margin-right: 8px;
                    vertical-align:middle;
                    @media(max-width:$md){
                        display: none;
                    }
                }
                .classic-icon-white{
                    display: none;
                    @media(max-width:$md){
                        display: inline-block;
                        margin-right: 8px;
                        vertical-align:middle;
                    }
                }
                a{
                    display:block;
                    text-decoration: none;
                    font-size: $font-size-xxxl;
                    line-height: $line-height-xxl;
                    @media(max-width:$lg){
                        font-size: 28px;
                        line-height: 42px; 
                    }
                    @media(max-width:$md){
                        line-height: 134px;
                        width: 100%;
                        color:$white;
                    }
                }
                .optical{
                    @media(max-width:$md){
                        background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-1.png?raw=true");
                        background-position: center;
                        background-size: cover;
                    }
                }
                .sunglasses{
                    @media(max-width:$md){
                        background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-2.png?raw=true");
                        background-position: center;
                        background-size: cover;
                    }
                }
                .functional{
                    @media(max-width:$md){
                        background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-3.png?raw=true");
                        background-position: center;
                        background-size: cover;
                    }
                }
            }
            .row-reverse{
                flex-direction: row-reverse;
                @media(max-width:$lg){
                    flex-direction: row;
                }
            }
        }
    }
    
}
.design-glasses{
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true");
    background-position: center;
    background-size: cover;
    padding: 64px 0 80px 0;
    text-align: center;
    @media(max-width:$lg){
        padding: 40px 0 40px 0;
    }
    .container{
        max-width: 100%;
        h2{
            color:$white;
        }
        ul{
            justify-content: center;
            padding: 0 40px 0 40px;
            @media(max-width:$md){
                flex-direction: column;
                align-items: center;
            }
            .doubleA{
                background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-8.png?raw=true");
                background-position: center;
                background-size: cover;
                margin-right: 15px;
                @media(max-width:$md){
                    margin-right: 0;
                    margin-bottom: 15px;
                }
            }
            .youth{
                background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-9.png?raw=true");
                background-position: center;
                background-size: cover;
                margin-left: 15px;
                @media(max-width:$md){
                    margin-left: 0;
                }
            }
            li{
                width: 540px;
                @media(max-width:$lg){
                    width: 330px;
                    height: 280px;
                }
                a{
                    display: block;
                    font-size: 72px;
                    line-height:472px;
                    text-decoration: none;
                    background-color: rgba(255,255,255,0.5);
                    @media(max-width:$lg){
                        font-size: $font-size-xl;
                        line-height:280px;
                    }
                }
            
            }
        
        }
    }
}
.customer-rec{
    padding: 64px 0 80px 0;
    @media(max-width:$lg){
        padding: 40px 0 40px 0;
    }
    .container{
        max-width: 100%;
        h2{
            text-align: center;
        }
        ul{
            justify-content: center;
            @media(max-width:$lg){
                flex-wrap: wrap;
            }
            li{
                max-width: 255px;
                margin: 0 15px 0 15px;
                border: 1px solid $border;
                @media(max-width:$lg){
                    max-width: 330px;
                    margin-bottom: 18px;
                }
                .card-content{
                    padding: 14px 16px 15px 16px;
                }
                img{
                    max-width: 100%;
                    height: auto;
                    @media(max-width:$lg){
                        width: 330px;
                    }
                }
            }
            h4{ 
                font-weight: bold;
                font-size: 14px;
                line-height: 21px;
                color: #212529;
                margin-bottom: 7px;
            }
            p{  
                font-size: $base-font-size;
                line-height: $base-line-height;
                color: #212529;
            }
            small{
                margin-top: 10px;
                font-size: 14px;
                line-height: 21px;
                color: #707070;
            }
        }
    }
}
.contact{
    background-color: $bg-color;
    text-align: center;
    padding: 64px 0 80px 0;
    @media(max-width:$lg){
        padding: 40px 0 40px 0;
    }
    .container{
        max-width: 730px;
        margin: 0 auto;
        text-align: center;
        font-weight: bolder;
        @media(max-width:$lg){
            max-width: 450px;
        }
        @media(max-width:$md){
            padding: 0 15px;
        }
        h2{
            color:$dark;
            @media(max-width:$lg){
                margin-bottom: 16px;
            }
        }
        p{  
            font-size: $font-size-m;
            line-height: $line-height-m;
            text-align: left;
            margin-bottom: 20px;
            @media(max-width:$lg){
                font-size: $base-font-size;
                line-height: $base-line-height;
            }
        }
        form{
            box-sizing: border;
            .form-group{
                box-sizing: border-box;
                text-align: left;
                margin-bottom: 16px;
                label{
                    font-weight: bolder;
                    display: inline-block;
                    font-size: $base-font-size;
                    line-height: $base-line-height;
                    margin-bottom: 6px;
                    @media(max-width:$lg){
                        font-size: 14px;
                        line-height: 21px;
                    }
                }
                input{
                    padding: 14px 16px 14px 16px;
                    width: 100%;
                    box-sizing: border-box;
                    display: block;
                    font-size: $base-font-size;
                    line-height: $base-line-height;
                    border: 2px solid $dark;
                    @media(max-width:$lg){
                        font-size: 14px;
                        line-height: 21px;
                    }
                }
                textarea{
                    display: block;
                    width: 100%;
                    box-sizing: border-box;
                    padding: 14px 0 14px 16px;
                    border: 2px solid $dark;
                }
            } 
            .form-check{
                text-align: left;
                margin-bottom: 42px;
                display: flex;
                
            }
            .form-check-input{
                width: 20px;
                height: 20px;
                padding: 0;
                margin: 0;
                margin-right: 10px;
                vertical-align: top;
            }
            .form-check-label{
                line-height: $base-line-height;
                font-size: $base-font-size;
                @media(max-width:$lg){
                    font-size: 14px;
                    line-height: 21px;
                }
            }
            button{
                font-weight: bolder;
                line-height: $base-line-height;
                font-size: $base-font-size;
                color:$white;
                background: $primary;
                padding: 16px 143px;
                @media(max-width:$lg){
                    font-size: 14px;
                    line-height: 21px;
                    padding: 8px 76px;
                }
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    
}
