
.banner{
    height: 840px;
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true");
    font-weight: bolder;
    text-align: right;
    @include pad(){
        background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner-sm.png?raw=true");
        background-size: cover;
    }
    @include phone(){
        background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true");
        background-position: 45%;
        height: 394px;
    }
    .title{
        max-width: 1080px;
        margin: 0 auto;
        @media(max-width:$xl){
            max-width: 768px;
        }
        @include pad(){
            max-width: 540px;
        }
        @include phone(){
            max-width:300px
        }
    }
    span{
        margin-top: 350px;
        display:inline-block;
        font-size: $font-size-xxl;
        line-height: 54px;
        @include pad(){
            font-size: $font-size-m;
            line-height: $line-height-m;
        }
        @include phone(){
            font-size: $base-font-size;
            margin-top: 164px;
            line-height: $base-line-height;
        }
    }
    h1{
        font-size: 64px;
        line-height: 96px;
        @include pad(){
            font-size: $font-size-xxxl;
            line-height: $line-height-xxl;
        }  
        @include phone(){
            font-size: $font-size-xl;
            line-height: $line-height-xl;
        }      
    }
}
.content{
    h2{
        font-size: $font-size-xxxl;
        line-height: $line-height-xxl;
        font-weight: bolder;
        margin-bottom: 60px;
        @include pad(){
            font-size: $font-size-xl;
            line-height: $line-height-xl;
            margin-bottom: 32px;
        }
        @include phone(){
            font-size: $font-size-l;
        }
    }
}
.purpose{
    background-color: #AA06010D;
    text-align: center;
    padding: 64px 0 80px 0;
    font-weight: bolder;
    @include pad(){
        padding: 40px 0 40px 0;
    }
    h3{
        font-size: $font-size-l;
        line-height: $line-height-l;
    }
    ul{
        display: flex;
        justify-content: center;
        align-items: baseline;
        @include pad(){
            flex-wrap: wrap;
        }
        li{
            max-width: 208px;
            margin-left: 39px;
            margin-right: 39px;
            @include pad(){
                max-width: 237px;
                margin-left: 60px;
                margin-right: 60px;
            }
            @include phone(){
                max-width:100%;
                margin-bottom: 40px;
            }
            img{
                margin-bottom: 40px;
                @include pad(){
                    margin: 16px auto;
                }
            }
            p{
               text-align: left; 
               line-height: $base-line-height;
            }
            
        }
    }
}
.classic-glasses{
    text-align: center;
    font-weight: bolder;
    padding: 64px 0 80px 0;
    @include pad(){
        padding: 40px 0 40px 0;
    } 
    .container{
        max-width: 1200px;
        margin: 0 auto;
        @include pad(){
            max-width: 768px;
        }
        ul{
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
        }
        li{
            display: flex;
            justify-content: flex-start;
            align-items:center;
            margin-bottom: 32px;
            @include pad(){
                margin-bottom: 8px;
            }
            @include phone(){
                justify-content: center;
            }
        }
        a{
            display:block;
            text-decoration: none;
            font-size: $font-size-xxxl;
            line-height: $line-height-xxl;
            @include pad(){
                font-size: 28px;
                line-height: 42px; 
            }
            @include phone(){
                line-height: 134px;
                width: 100%;
                color:$white;
            }
        }
    }    
    .product-img{
        display: block;
        max-width: 635px;
        height: auto;
        margin: 0 30px 0 30px;
        @include pad(){
            max-width: 440px;
        }
        @include phone(){
            margin: 0;
            max-width: 100%;
            display: none;
        }
    }
    .classic-icon{
        margin-right: 8px;
        vertical-align:middle;
        @include phone(){
            display: none;
        }
    }
    .classic-icon-white{
        display: none;
        @include phone(){
            display: inline-block;
            margin-right: 8px;
            vertical-align:middle;
        }
    }
    .row-reverse{
        flex-direction: row-reverse;
        @include pad(){
            flex-direction: row;
        }
    }
    .optical{
        @include phone(){
            background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-1.png?raw=true");

            
        }
    }
    .sunglasses{
        @include phone(){
            background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-2.png?raw=true");         
        }
    }
    .functional{
        @include phone(){
            background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-3.png?raw=true");
        }
    }
}
.design-glasses{
    background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true");
    padding: 64px 0 80px 0;
    text-align: center;
    @include pad(){
        padding: 40px 0 40px 0;
    }
    .container{
        max-width: 100%;
        h2{
            color:$white;
        }
        ul{
            justify-content: center;
            padding: 0 40px 0 40px;
            @include phone(){
                flex-direction: column;
                align-items: center;
            }
        }    
        li{
            width: 540px;
            @include pad(){
                width: 330px;
                height: 280px;
            }
        }
        a{
            display: block;
            font-size: 72px;
            line-height:472px;
            text-decoration: none;
            font-weight: bold;
            background-color: rgba(255,255,255,0.5);
            @include pad(){
                font-size: $font-size-xl;
                line-height:280px;
            }
        }
    }
    .doubleA{
        background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-8.png?raw=true");
        margin-right: 15px;
        @include phone(){
            margin-right: 0;
            margin-bottom: 15px;
        }
    }
    .youth{
        background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-9.png?raw=true");
        margin-left: 15px;
        @include phone(){
            margin-left: 0;
        }
    }
}
.customer-rec{
    padding: 64px 0 80px 0;
    @include pad(){
        padding: 40px 0 40px 0;
    }
    .container{
        max-width: 100%;
        h2{
            text-align: center;
        }
        ul{
            justify-content: center;
            @include pad(){
                flex-wrap: wrap;
            }
            
        }
        li{
            max-width: 255px;
            margin: 0 15px 0 15px;
            border: 1px solid $border;
            @include pad(){
                max-width: 330px;
                margin-bottom: 18px;
            }
        }
        .card-content{
            padding: 14px 16px 15px 16px;
        }
        img{
            @include pad(){
                width: 330px;
            }
            @include phone(){
                max-width: 100%;
            }
        }
        h4{ 
            font-weight: bold;
            font-size: 14px;
            line-height: 21px;
            color: #212529;
            margin-bottom: 7px;
        }
        p{  
            font-size: $base-font-size;
            line-height: $base-line-height;
            color: #212529;
        }
        small{
            margin-top: 10px;
            font-size: 14px;
            line-height: 21px;
            color: #707070;
        }
    }
}
.contact{
    background-color: $bg-color;
    text-align: center;
    padding: 64px 0 80px 0;
    @include pad(){
        padding: 40px 0 40px 0;
    }
    .container{
        max-width: 730px;
        margin: 0 auto;
        text-align: center;
        font-weight: bolder;
        @include pad(){
            max-width: 450px;
        }
        @include phone(){
            padding: 0 15px;
        }
        h2{
            color:$dark;
            @include pad(){
                margin-bottom: 16px;
            }
        }
        p{  
            font-size: $font-size-m;
            line-height: $line-height-m;
            text-align: left;
            margin-bottom: 20px;
            @include pad(){
                font-size: $base-font-size;
                line-height: $base-line-height;
            }
        }
        .form-group{
            box-sizing: border-box;
            text-align: left;
            margin-bottom: 16px;
            label{
                font-weight: bolder;
                display: inline-block;
                font-size: $base-font-size;
                line-height: $base-line-height;
                margin-bottom: 6px;
                @include pad(){
                    font-size: 14px;
                    line-height: 21px;
                }
            }
            input{
                padding: 14px 16px 14px 16px;
                width: 100%;
                box-sizing: border-box;
                display: block;
                font-size: $base-font-size;
                line-height: $base-line-height;
                border: 2px solid $dark;
                @include pad(){
                    font-size: 14px;
                    line-height: 21px;
                }
            }
            textarea{
                display: block;
                width: 100%;
                box-sizing: border-box;
                padding: 14px 0 14px 16px;
                border: 2px solid $dark;
            }
        } 
        .form-check{
            text-align: left;
            margin-bottom: 42px;
            display: flex;
            
        }
        .form-check-input{
            width: 20px;
            height: 20px;
            padding: 0;
            margin: 0;
            margin-right: 10px;
            vertical-align: top;
        }
        .form-check-label{
            line-height: $base-line-height;
            font-size: $base-font-size;
            @include pad(){
                font-size: 14px;
                line-height: 21px;
            }
        }
        .btn{
            font-weight: bolder;
            line-height: $base-line-height;
            font-size: $base-font-size;
            color:$white;
            background: $primary;
            padding: 16px 143px;
            border: none;
            @include pad(){
                font-size: 14px;
                line-height: 21px;
                padding: 8px 76px;
            }
            &:hover{
                cursor: pointer;
                background-color: #af4340;
                transition: all 0.5s;
            }
        }
    }
    
}
