.bar{
    background: $secondary ;
    padding: 10px 0 12px 0;
    @media(max-width:$lg){
        padding: 15px 0 16px 0;
    }
    .bar-content{
        max-width: 1200px;
        margin: 0 auto;
        justify-content: space-between;
        padding: 0 45px;
        @media(max-width:$lg){
            max-width: 690px;
        }
        @media(max-width:$md){
            justify-content: center;
            width: 345px;
        }
        ul{
            width: 100%;
            @media(max-width:$md){
                justify-content: space-between;
            }
            li{
                margin-right: 48px;
                @media(max-width:$md){
                    margin: 0;
                }
            }    
            a{
                font-size: $font-size-m;
                line-height: $base-line-height;
                text-decoration: none;
                color: $white;
                @media(max-width:$lg){
                    font-size: $base-font-size;
                }
            }
            
        }
        img{
            height: 22px;
            @media(max-width:$md){
                display: none;
            }
        }
    }
}
.blog-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 8px 45px 304px 45px;
    @media(max-width:$lg){
        max-width: 690px;
        padding: 8px 0 104px 0;
    }
    @media(max-width:$md){
        max-width: 345px;
        padding: 8px 15px 56px 15px;
    }
    .page-link{
        margin-bottom: 17px;
        @media(max-width:$lg){
            margin-bottom: 8px;
        }
        a{
            text-decoration: none;
            font-size: $base-font-size;
            line-height: $base-line-height;
            color:#000;
            @media(max-width:$lg){
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
    .hashtag{
        a{
            text-decoration: none;
            margin-right: 16px;
            font-size: $font-size-l;
            line-height: $line-height-l;
            @media(max-width:$lg){
                font-size: $base-font-size;
                line-height: 20px;
            }
        }
    }
    .blog{
        @media(max-width:$md){
            display: block;
        }
        .blog-content{
            width: 74.32%;
            margin-right: 31px;
            @media(max-width:$md){
                width: 100%;
            }
            h1{
                font-size: $font-size-xxxl;
                line-height: 95px;
                @media(max-width:$lg){
                    font-size: $font-size-xl;
                    line-height: 45px;
                }
                @media(max-width:$md){
                    color: #650300;
                    font-size: $font-size-m;
                    line-height: $line-height-m;
                }
            }
            .subtitle{
                display: flex;
                justify-content: space-between;
                margin-bottom: 23px;
                @media(max-width:$lg){
                    margin-bottom: 16px;
                }
                h2{
                    width: 100%;
                    font-size: 28px;
                    line-height: 42px;
                    display: inline-block;
                    @media(max-width:$lg){
                        font-size: $base-font-size;
                        line-height: 21px;
                    }
                }
                span{
                    align-self: center;   
                    font-size: $base-font-size;
                    line-height: $base-line-height;
                    color:#6C6C6C;
                    @media(max-width:$lg){
                        font-size: 14px;
                        
                    }
                }
            }
            .card{
                margin-bottom: 36px;
                @media(max-width:$lg){
                    margin-bottom: 24px;
                }
                img{
                    margin-bottom: 24px;
                    @media(max-width:$lg){
                        margin-bottom: 16px;
                    }
                }
                p{
                    font-size: $font-size-m;
                    line-height: $line-height-m;
                    color: #6C6C6C;
                    @media(max-width:$lg){
                        font-size: $base-font-size;
                        line-height: $base-line-height;
                    }
                }
            }
        }
        .blog-footer{
            @media(max-width:$lg){
                display: none;
            }
            @media(max-width:$md){
                display: block;
            }
            .blog-icon{
                margin-bottom: 16px;
                a{
                    text-decoration: none;
                    color: #000;
                    font-size: $font-size-m;
                    line-height: $line-height-m;
                    margin-right: 16px;
                }
                img{
                    width: 24px;
                    vertical-align: middle;
                }
            }
            .border{
                border:1px solid #707070;
                margin-bottom: 24px;
                @media(max-width:$md){
                    margin-bottom: 8px;
                }
            }
            .clicker{
                display: flex;
                justify-content: space-between;
                @media(max-width:$md){
                    display: block;
                    margin-bottom: 39px;
                }
                a{
                    text-decoration: none;
                    color: $dark;
                    display: inline-block;
                    font-size: 19px;
                    line-height: $line-height-m;
                }
                img{
                    vertical-align:text-bottom;
                }
                .previous{
                    margin-bottom: 8px;
                    img{
                        transform:scaleX(-1);
                        margin-right: 8px;
                        @media(max-width:$md){
                            margin: 0;
                        }
                    }
                }
                .next-step{
                    img{
                        margin-left: 8px;
                        @media(max-width:$md){
                            margin: 0;
                        }
                    }
                    @media(max-width:$md){
                        display: flex;
                        flex-direction: row-reverse;
                        justify-content: flex-end;
                    }
                }
            }
        }
        .tag-section{
            width: 22.88%;
            @media(max-width:$md){
                width: 100%;
            }
            h3{
                font-size: 28px;
                line-height: 42px;
                @media(max-width:$lg){
                    font-size: $font-size-m;
                    line-height: 26px;
                }
                @media(max-width:$md){
                    margin-bottom: 10px;
                }
                img{
                    vertical-align: bottom;
                    margin-right: 8px;
                    @media(max-width:$lg){
                        width: 24px;
                        margin: 0;
                    }
                }
            }
            .tags{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                @media(max-width:$md){
                    display: none;
                }
                a{  
                    text-decoration: none;
                    font-size: 23px;
                    line-height: $line-height-l;
                    display: inline-block;
                    letter-spacing: -0.5px;
                    @media(max-width:$lg){
                        font-size: 14px;
                        line-height: 21px;
                    }
                }
                span{
                    font-size: $font-size-l;
                    line-height: $line-height-l;
                }
                .mr24{
                    margin-right: 24px;
                    @media(max-width:$lg){
                        margin-right: 16px;
                    }
                }
            }
            .tags.d-phone{
                max-width:274px ;
                display: flex;
                flex-wrap: wrap;
                display: none;
                @media(max-width:$md){
                    display: block;
                }
                p{
                    font-size: 14px;
                    line-height: 21px;
                    display: inline-block;
                    letter-spacing: -0.5px;
                }
                span{
                    font-size: $font-size-l;
                    line-height: $line-height-l;
                }
                .mr24{
                    margin-right: 8px;
                }
            }
        }
    }
    .blog-footer.d-pad{
        display: none;
        @media(max-width:$lg){
            display: block;
            .blog-icon{
                margin-bottom: 16px;
                a{
                    text-decoration: none;
                    color: $dark;
                    font-size: $base-font-size;
                    line-height: $line-height-m;
                    margin-right: 16px;
                }
                img{
                    width: 20px;
                    vertical-align: middle;
                }
            }
            .border{
                border:1px solid #707070;
                margin-bottom: 16px;
            }
            .clicker{
                display: flex;
                justify-content: space-between;
                a{  
                    text-decoration: none;
                    color: $dark;
                    display: inline-block;
                    font-size: $base-font-size;
                    line-height: $line-height-m;
                }
                img{
                    width: 20px;
                    vertical-align:text-bottom;
                }
            }
        }
        @media(max-width:$md){
            display: none;
        }
    }

}  
.card-img-top{
    width: 100% !important;
}
.d-phone{
    @media(max-width:$md){
        display: block;   
    }
}
.d-phone-none{
    @media(max-width:$md){
        display: none;   
    }
}