$primary: #AA0601;
$secondary: #650300;
$bg-color: #AA06010D;
$white: #fff;
$dark: #000;
$border: #DEE2E6;

$base-font-size: 16px ;
$base-line-height: 24px;


$font-size-m: $base-font-size*1.25;
// 20px
$font-size-l: $base-font-size*1.5;
// 24px
$font-size-xl: $base-font-size*2;
// 32px
$font-size-xxl: $base-font-size*2.25;
// 36px
$font-size-xxxl: $base-font-size*3;
// 48px

$line-height-m: $base-line-height*1.25;
// 30px
$line-height-l: $base-line-height*1.5;
// 36px
$line-height-xl: $base-line-height*2;
// 48px
$line-height-xxl: $base-line-height*3;
// 72px

$xl: 1200px;
$lg: 992px;
$md: 767px;

